name: Build-EXE-For-Number-1
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release --no-default-features --features=mpv

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: youtube-tui-exe
          path: target/release/youtube-tui.exe
